@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lora');

#container {
  font-family: 'Open Sans', sans-serif;
}
.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
}

.App-header img {
  margin: auto;
  display: block;
}

.App-header img {
  height: 200px;
}