.beleafsRoot {
  margin: 10px;
}

.delete {
  color: red;
  margin-left: 10px;
  cursor: pointer;
}

.vertice {
  margin: 10px 0px 10px 30px;
}

.rootVertice > .verticeContent{
  font-size: 20px;
  background-color: #CEE;

}

.verticeContent {
  background-color: #EEE;
  padding: 9px;
}

.suffix {
  font-family: 'PT Serif', serif;
}
