.beleafsRoot {
  margin: 10px;
}

.delete {
  color: red;
  margin-left: 10px;
  cursor: pointer;
  font-size: 10px;
}

.move {
  cursor: pointer;
  margin: 4px 4px 4px 10px;
  font-size: 10px;
}

.vertice {
  margin: 10px 0px 10px 30px;
}

.rootVertice > .verticeSelf > .verticeView{
  font-size: 20px;
  background-color: #CEE;
}

.verticeView {
  background-color: #EEE;
  padding: 9px;
  font-family: 'PT Serif', serif;
  color: black;
  font-size: 16px;
}

.prefix {
  font-weight: bold;
  color: black;
  color: #111;

}
.statement {
  color: #333;
}
.description {
  font-style: italic;
  color: #333;
}

.verticeSelf{
}

.verticeEdit > p {
  margin: 0px;
}
textarea {
  outline: none;
}

